@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('./leaguegothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}


/*! Background gradient wrangling */

html, body {
  min-height: 100%;
  height: 100%;
  font: normal 150%/1 "LeagueGothicRegular", "League Gothic";
  background-color: #B00000;
}

.wrapper {
  min-height: 100%;
  height: auto;
  width: 100%;
  background: -webkit-radial-gradient(50% 35%, circle cover, #FF0F0F 0%, #D90A0A 40%, #B00000 90%);
  background-repeat: no-repeat;
}

.content-wrapper {
  margin: 0 auto;
  position: relative;
}

/* Gradient background for elements */
.bg {
  background: -webkit-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:    -moz-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:     -ms-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:      -o-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:         linear-gradient(#F90A0A 0%, #D90A0A 100%);
}


/*! Heading styles */

h1 {
  font-size: 1.6em;
  padding-top: 5px;
  padding-top: 1vh;
  text-align: center;
}

h2 {
  font-size: 1.15em;
  color: white;
  text-align: center;
}


/*! Score bar styles */
.score-bar {
  position: relative;
  border-top: 3px double #F8B419;
  border-bottom: 3px double #F8B419;
  padding: 0.1em 3% 0.1em 10%;
  background-image: url(svg/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.score {
  display: inline-block;
  width: 45%;
}

#d-count {
  text-align: right;
}


/*! Card area */
.table {
  margin: 2.5%;
  min-height: 48vh;
  background-image: -webkit-linear-gradient(0deg, transparent 0%, transparent 49.9%, #F8B419 49.9%, #F8B419 50.1%, transparent 50.1%);
}

.hand {
  width: 47.5%; /* border fix */
/*   padding-top: 30vh; */
  text-align: center;
  float: left;
}

/*! Player controls */
.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12.5%;
  min-height: 1.75rem;
/*   padding: 0.25em 7.5% 0; */
  background: #B00000;
}

.player-btn {
  -webkit-transition: opacity ease 1s;
     -moz-transition: opacity ease 1s;
      -ms-transition: opacity ease 1s;
       -o-transition: opacity ease 1s;
          transition: opacity ease 1s;

  font-family: "LeagueGothicRegular", "League Gothic";
  font-size: 1.3rem;
  line-height: 1.2;
  color: #FAFAFA;
  text-shadow: #444 -0.05em -0.05em 0.0075em;
  width: 49.99%;
  height: 100%;
/*
  width: 45%;
  height: 80%;
*/
  border: none;
/*   border-radius: 0.4rem; */
/*   box-shadow: 0.1rem 0.1rem 0.3rem #000; */
}

.player-btn:active {
  background: -webkit-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:    -moz-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:     -ms-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:      -o-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:         linear-gradient(#D90A0A 0%, #F90A0A 100%);

/*   box-shadow: inset 0 0 0.6rem rgba(0,0,0,0.9); */
  line-height: 1.3; /* So the text moves down */
  color: #F0F0F0;
}
#hit {
  float: left;
}
#stand {
  float: right;
}


/*! Card styles */

.card {
  position: inherit;
  display: inline-block;
/*
  height: 10rem;
  width: 6.6rem;
*/
  width: 40vw;
  height: 60vw;
  margin-right: -0.5rem;
  margin-bottom: -47vw;
  
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
       -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
}

.wayoff {
  left: -200%;
}

.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  border-radius: 0.35rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-shadow: 0.1rem 0.1rem 0.3rem #333;
}
.front {
  z-index: 3;
  background-color: #FAFAFA;
  line-height: 1;
}
.back {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
  
  background-color: #2672B2;
  background-image: url("svg/back.svg");
}

.hearts, .diamonds { color: #D40000; }

.diamonds .front { background-image: url("svg/diamond.svg"); }
  .hearts .front { background-image: url("svg/heart.svg"); }
  .spades .front { background-image: url("svg/spade.svg"); }
   .clubs .front { background-image: url("svg/club.svg"); }

.num {
  font-size: 1.75rem;
  z-index: 4;
  position: relative;
}

.tl {
  text-align: left;
  float: left;
  top: 0.35rem;
  left: 0.35rem;
}

.br {
  text-align: right;
  float: right;
}

.tilt-left {
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
       -o-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.tilt-left.flipped {
  -webkit-transform: rotateY(180deg) rotate(3deg);
     -moz-transform: rotateY(180deg) rotate(3deg);
      -ms-transform: rotateY(180deg) rotate(3deg);
       -o-transform: rotateY(180deg) rotate(3deg);
          transform: rotateY(180deg) rotate(3deg);
}

.tilt-right {
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

.tilt-right.flipped {
  -webkit-transform: rotateY(180deg) rotate(-3deg);
     -moz-transform: rotateY(180deg) rotate(-3deg);
      -ms-transform: rotateY(180deg) rotate(-3deg);
       -o-transform: rotateY(180deg) rotate(-3deg);
          transform: rotateY(180deg) rotate(-3deg);
}
