@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('./leaguegothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}


/*! Background gradient wrangling */

html, body {
  min-height: 100%;
  height: 100%;
  font: normal 150%/1 "LeagueGothicRegular", "League Gothic";
  background-color: #B00000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrapper {
  min-height: 100%;
  height: auto;
  width: 100%;
  background: -webkit-radial-gradient(50% 35%, circle cover, #FF0F0F 0%, #D90A0A 40%, #B00000 90%);
  background-repeat: no-repeat;
}

.content-wrapper {
/*   margin: 0 auto; */
  position: relative;
}


/*! Utility styles */
.hide {
  opacity: 0;
  z-index: -5 !important;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}


/* Gradient background for elements */
.bg {
  background: -webkit-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:    -moz-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:     -ms-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:      -o-linear-gradient(#F90A0A 0%, #D90A0A 100%);
  background:         linear-gradient(#F90A0A 0%, #D90A0A 100%);
}


/*! Heading styles */

h1 {
  font-size: 1.65em;
  padding-top: 5px;
  padding-top: 1vh;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  color: white;
  text-align: center;
}

/*! Generic button style */
.btn {
    -webkit-transition: opacity ease 1s;
     -moz-transition: opacity ease 1s;
      -ms-transition: opacity ease 1s;
       -o-transition: opacity ease 1s;
          transition: opacity ease 1s;

  font-family: "LeagueGothicRegular", "League Gothic";
  font-size: 1.3rem;
  line-height: 1.2;
  color: #FAFAFA;
  text-shadow: #444 -0.05em -0.05em 0.0075em;
  border: none;
}


/*! Score bar styles */
.score-bar {
  position: relative;
  border-top: 3px double #F8B419;
  border-bottom: 3px double #F8B419;
  padding: 0.1em 0;
  background-image: url(svg/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.score {
  display: inline-block;
  margin: -3px;
  width: 50%;
  text-align: center;
}


/*! Card area */
.table {
  width: 100%;
  height: 100%:
  margin: 4% 0;
  min-height: 48vh;
  background-image: -webkit-linear-gradient(0deg, transparent 0%, transparent 49.9%, #F8B419 49.9%, #F8B419 50.1%, transparent 50.1%);
}

.hand {
  width: 50%;
  height: 100%;
  text-align: center;
  float: left;
  position: relative;
}

#dealer {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/*! Player controls */
.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12.5%;
  min-height: 1.75rem;
/*   padding: 0.25em 7.5% 0; */
  background: #B00000;
}

.player-btn { /* Extends .btn */
  width: 49.99%;
  height: 100%;
}

.btn:active {
  background: -webkit-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:    -moz-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:     -ms-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:      -o-linear-gradient(#D90A0A 0%, #F90A0A 100%);
  background:         linear-gradient(#D90A0A 0%, #F90A0A 100%);

  line-height: 1.5; /* So the text moves down */
  color: #F0F0F0;
}
#hit {
  float: left;
}
#stand {
  float: right;
}


/*! Card styles */

.card {
  position: relative;
  display: inline-block;
/*
  height: 10rem;
  width: 6.6rem;
*/
  width: 40vw;
  height: 60vw;
  margin-bottom: -50vw;
  
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
       -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
}

.wayoff {
  left: -200%;
}

.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border-radius: 2vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-shadow: 0.1rem 0.1rem 0.3rem #333;
}
.front {
  z-index: 3;
  background-color: #FAFAFA;
  line-height: 1;
}
.back {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
  
  background-color: #2672B2;
  background-image: url("svg/back.svg");
}

.hearts, .diamonds { color: #D40000; }

.diamonds .front { background-image: url("svg/diamond.svg"); }
  .hearts .front { background-image: url("svg/heart.svg"); }
  .spades .front { background-image: url("svg/spade.svg"); }
   .clubs .front { background-image: url("svg/club.svg"); }

.num {
  font-size: 1.5rem;
  z-index: 4;
  position: absolute;
}

.tl {
  text-align: left;
  top: 3%;
  left: 4%;
}

.br {
  text-align: right;
  bottom: 2%;
  right: 4%;
}

.tilt-left {
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
       -o-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.tilt-left.flipped {
  -webkit-transform: rotateY(180deg) rotate(3deg);
     -moz-transform: rotateY(180deg) rotate(3deg);
      -ms-transform: rotateY(180deg) rotate(3deg);
       -o-transform: rotateY(180deg) rotate(3deg);
          transform: rotateY(180deg) rotate(3deg);
}

.tilt-right {
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

.tilt-right.flipped {
  -webkit-transform: rotateY(180deg) rotate(-3deg) translateZ(-10px);
     -moz-transform: rotateY(180deg) rotate(-3deg);
      -ms-transform: rotateY(180deg) rotate(-3deg);
       -o-transform: rotateY(180deg) rotate(-3deg);
          transform: rotateY(180deg) rotate(-3deg);
}

/*! Overlay styles */
.overlay {
  position: absolute;
  z-index: 100;
  border: 0.15em solid #D90A0A;
  border-radius: 0.4em;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.75);
}

.o-large {
  top: -0.5em;
  width: 70%;
  padding: 0.1em 2.5% 0.35em;
  margin: 10% 12.5%;
}

.o-pop {
  width: 50%;
  padding: 0.25em;
  margin: 10% 22%;
}

.o-btn { /* Extends .btn */
  display: block;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.75);
  width: 5em;
  height: 1.5em;
  margin: 0 auto;
}
.o-btn:active {
  box-shadow: inset 0 0 0.6rem rgba(0,0,0,0.75);
  line-height: 1.6;
}

.o-text {
  color: white;
  text-align: center;
  font-size: 0.7em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

#start {
  top: 1em;
}


/*! About chip */
#about-button {
  display: none;
}

/*! Animation styles */

.animated {
	-webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
      -ms-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	80% {
		-moz-transform: translateY(-10px);
	}
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	80% {
		-o-transform: translateY(-10px);
	}
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	80% {
	transform: translateY(-10px);
	}
	100% {
	transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
     -moz-animation-name: bounceInDown;
       -o-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

@-webkit-keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
	}
	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
}

@-moz-keyframes bounceOutUp {
	0% {
		-moz-transform: translateY(0);
	}
	20% {
		opacity: 1;
		-moz-transform: translateY(20px);
	}
	100% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
}

@-o-keyframes bounceOutUp {
	0% {
		-o-transform: translateY(0);
	}
	20% {
		opacity: 1;
		-o-transform: translateY(20px);
	}
	100% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
}

@keyframes bounceOutUp {
	0% {
		transform: translateY(0);
	}
	20% {
		opacity: 1;
		transform: translateY(20px);
	}
	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}

.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
     -moz-animation-name: bounceOutUp;
       -o-animation-name: bounceOutUp;
          animation-name: bounceOutUp;
}
